.header {
  @include outer-container(600px);
}

.building, .new_recipient {
  @include outer-container(600px);
  padding: $base-spacing 0;
}

.filters {
  margin-top: $small-spacing;
}

.beds-filter input {
  float: left;
  margin-bottom: $base-spacing;
}

.beds-filter label {
  float: left;
  margin-bottom: 0;
}

.filter {
  @include span-columns(4);
}

.unit {
  @include span-columns(12);
  padding: $small-spacing 0;
}

.summary, #recipient_first_name {
  @include span-columns(12);

  @include media($medium-screen) {
    @include span-columns(6);
  }
}

.details, #recipient_last_name {
  @include span-columns(12);

  @include media($medium-screen) {
    @include span-columns(6);
    @include omega();
  }
}

.details {
  @include media($medium-screen) {
    text-align: right;
  }
}


.rent-head {
  font-size: $base-font-size * 1.5;
}

.rent-sub {
  font-size: $base-font-size * 0.75;
}

.toggle {
  @include span-columns(12);
}

.historical-rents {
  @include span-columns(12);
  display: none;
}
